table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }

  h2{
    text-align: center;
    color: #f0a400 ;
    font-weight: 500;
}

  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: 500;
  }
  
  img {
    border-radius: 8px;
  }
  