<h1>Dashboard</h1>

<div class="dashboard-container">
  <div class="dashboard-card">
    <div class="card-header">
      <i class="icon-category"></i>
      <h2>Categories</h2>
    </div>
    <div class="card-content">{{ totalCategories }}</div>
  </div>

  <div class="dashboard-card">
    <div class="card-header">
      <i class="icon-subcategory"></i>
      <h2>Subcategories</h2>
    </div>
    <div class="card-content">{{ totalSubCategories }}</div>
  </div>

  <div class="dashboard-card">
    <div class="card-header">
      <i class="icon-product"></i>
      <h2>Products</h2>
    </div>
    <div class="card-content">{{ totalProducts }}</div>
  </div>

  <div class="dashboard-card">
    <div class="card-header">
      <i class="icon-stock"></i>
      <h2>Stocks</h2>
    </div>
    <div class="card-content">{{ totalStocks }}</div>
  </div>

  <div class="dashboard-card">
    <div class="card-header">
      <i class="icon-user"></i>
      <h2>Users</h2>
    </div>
    <div class="card-content">{{ 8 }}</div>
  </div>
</div>
